# Test 1

In [11]:
run Test1.py 3 4 "a"

['hello', 1, True]
['3', '4', 'a']
['hello', 1, True, '3', '4', 'a']

# Test 2

In [17]:
run Test2.py "a" 7  5

['hello', 1, True]
['a', '7', '5']
['hello', 1, True]
['hello', 1, True, 'a', '7', '5']

# Test 3

In [30]:
run Test3.py 30

[4, 7, 9, 10, 20, 30, 30, 30, 28, 1, 9, 30]
4

# Test 4

In [33]:
run Test4.py 10

[4, 7, 9, 10, 20, 30, 30, 30, 28, 1, 9, 30]
[4, 7, 9, 20, 30, 30, 30, 28, 1, 9, 30]

# Test 5

In [50]:
list5=[4,7, 9, 10, 20, 30, 30, 30, 28, 1, 9, 30]

print(list5)

#list5.del[1:3]
del list5[5]

print(list5)

del list5 [4]

print(list5)

del list5 [0]

print (list5)

[4, 7, 9, 10, 20, 30, 30, 30, 28, 1, 9, 30]
[4, 7, 9, 10, 20, 30, 30, 28, 1, 9, 30]
[4, 7, 9, 10, 30, 30, 28, 1, 9, 30]
[7, 9, 10, 30, 30, 28, 1, 9, 30]

# Test 6

In [56]:
list5=[4,7, 9, 10, 20, 30, 30, 30, 28, 1, 9, 30]

print(list5)

list6=list5.copy()

del list6[5]

del list6 [4]

del list6 [0]

print(list6)

print(list5)

[4, 7, 9, 10, 20, 30, 30, 30, 28, 1, 9, 30]
[7, 9, 10, 30, 30, 28, 1, 9, 30]
[4, 7, 9, 10, 20, 30, 30, 30, 28, 1, 9, 30]

# Test 7

In [66]:
list1=[2,9, 7, 5, 3, 5, 2, 6, 5,2, 1]
list2=[3,3, 9, 6, 5, 4, 3, 2, 1, 4]

print(list1)

del list1 [-1]

print (list1)

list1.extend(list2)
print (list1)

[2, 9, 7, 5, 3, 5, 2, 6, 5, 2, 1]
[2, 9, 7, 5, 3, 5, 2, 6, 5, 2]
[2, 9, 7, 5, 3, 5, 2, 6, 5, 2, 3, 3, 9, 6, 5, 4, 3, 2, 1, 4]

# Test 13

In [68]:
tuple1 = (1, 4, 9, 16, 25, 36)
print (tuple1[4])
print (tuple1[-4])

25
9

# Test 14

In [87]:
tuple1 = (1, 4, 9, 16, 25, 36)

t2=list(tuple1)
print(t2)

tuple5= ("hello", )

t6=tuple1[:4] + tuple5 + tuple1[5:]
print (t6)

[1, 4, 9, 16, 25, 36]
(1, 4, 9, 16, 'hello', 36)

# Test 8

In [95]:
run Test8.py 198

{32, 1, 4, 6, 7, 9, 10, 11, 54, 23}
{32, 1, 4, 6, 7, 198, 9, 10, 11, 54, 23}

# Test 9

In [96]:
run Test9.py 54

{32, 1, 4, 6, 7, 9, 10, 11, 54, 23}
{32, 1, 4, 6, 7, 9, 10, 11, 23}

# Test 10

In [99]:
run Test10.py 108

{32, 1, 4, 6, 7, 9, 10, 11, 54, 23}
{32, 1, 4, 6, 7, 9, 10, 11, 54, 23}

# Test 11

In [103]:
set1= {3,4,6,9,5,7,8}
set2={3,4,6,15}

a=set1.union(set2)
print (a)
b=set1.intersection(set2)
print(b)

{3, 4, 5, 6, 7, 8, 9, 15}
{3, 4, 6}

In [136]:
run Test12.py 35

{32, 1, 4, 6, 7, 9, 10, 11, 54, 23}
1
54
true

# Test 15

In [146]:
run Test15.py "name4" "Siranush"

{'name1': 'Lilit', 'name2': 'Ani', 'name3': 'Ashot'}
{'name1': 'Lilit', 'name2': 'Ani', 'name3': 'Ashot', 'name4': 'Siranush'}

# Test 16

In [165]:
list1=[(1, "a"), (2, "b"), (3, "c")]

a1= print(list1[0])

print(type(a1))
print()

print(a1[0])

(1, 'a')

TypeError: 'NoneType' object is not subscriptable