# Practical 1

In [12]:
number1= int(input("number 1 :" ))
number2=int(input("number 2 :" ))

number 1 :34
number 2 :34

In [13]:
if number1>=number2:
    print(number1)
else: 
    print(number2)

34

# Practical 2

In [21]:
a= 5
b=7

if a==b:
    print("square")
else:
    print("rectangle")

rectange

# Practical 3

In [102]:
name="Lilit"
age=13
password="9v2usclKlil001*"

if name=="Lilit":
    print( "Wlecome, Miss Lilit !")
if age<=16:
    print("Dear" ,name, "you are too young to register")

if "*" not in password and "&" not in password:
    print("Enter another password")

Wlecome, Miss Lilit !
Dear Lilit you are too young to register

In [101]:
a=2
b=3

if a>1 or b>4:
    print(a)

2

# Practical 4

In [66]:
dict= {"name":"Armen", "age": 15, "grades":[10, 8,8, 4, 6, 7]}
print(dict)
    
number=int(input("number :"))
if "weight" in dict:
    print(["weigth"])
else:
        print(number)

{'name': 'Armen', 'age': 15, 'grades': [10, 8, 8, 4, 6, 7]}
number :67
67

# Practical 5

In [72]:
list1 = list(range(1,100))
evens = []
odds = []


for n in list1:
    if n%2==0:
        evens.append(n)
    else:
        odds.append(n)


print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [76]:
list1 = list(range(1,100))
odds = [n for n in list1 if n%2!=0]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Practical 6

In [94]:
c = 0

while c<6:
    c += 1
    
    if c == 2 or c==4:
        continue
    print(c)

1
3
5
6

# Practical 7

In [103]:
c = 0

while c<21:
    c += 1
    print(c)
    if c%3==0 and c%5==0:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

# Practical 8

In [126]:
list1= [5, 7, -7, "abc", 2, 4, True, 3, 4, 6, 7, 7]
for n in list1:
    print(n)
    if n==3:
        break

5
7
-7
abc
2
4
True
3

# Practical 9

In [ ]:
correct_num=5

c=0
while c<10:
    guess= int(input("guess :"))
    c += 1
    if guess==correct_num:
        print("ok")
        break
    else:
        print("no")

guess :6
no

# Practical 10

In [31]:
num=[7,8, 120, 25, 44, 20, 27]
print (num)
for n in num:
    if n%2==0:
        num.remove(n)
print(num)

[7, 8, 120, 25, 44, 20, 27]
[7, 120, 25, 20, 27]

# Practical 11

In [33]:
list = [x**3 for x in range(1,50)]
print(list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649]

# Practical 12

In [35]:
list1=[1,10, 20, 30, 40, 50, 34,8, 9, 7]
list2=[x for x in list1 if x>20]
print(list2)

[30, 40, 50, 34]

# Practical 13

In [40]:
value=str(input("value :" ))
list1=[letters for letters in value]
print(list1)

value :red
['r', 'e', 'd']

# Practical 14

In [72]:
list1= ["a", "abs", "xyz", "s", "aba", "1221"]
for items in list1:
    if len(items)>=2 and items[0]==items[-1]:
        print(items)

aba
1221